<!DOCTYPE html>

<html lang="en">
<head>
<title>BDA LAB| Pages | Gallery</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="iiita-img.png" type="image/x-icon">
<link href="layout.css" rel="stylesheet" type="text/css" media="all">
<link href="framework.css" rel="stylesheet" type="text/css" media="all">
<link href="fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- <div class="fl_left">  -->
      <!-- ################################################################################################ -->
      <!-- <ul class="nospace">
        <li><i class="fas fa-phone rgtspace-5"></i> +00 (123) 456 7890</li>
        <li><i class="far fa-envelope rgtspace-5"></i> info@domain.com</li>
      </ul> -->
      <!-- ################################################################################################ -->
    <!-- </div>
    <div class="fl_right">  -->
      <!-- ################################################################################################ -->
      <!-- <ul class="nospace">
        <li><a href="#" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#" title="Sign Up"><i class="fas fa-edit"></i></a></li>
        <li id="searchform">
          <div>
            <form action="#" method="post">
              <fieldset>
                <legend>Quick Search:</legend>
                <input type="text" placeholder="Enter search term&hellip;">
                <button type="submit"><i class="fas fa-search"></i></button>
              </fieldset>
            </form>
          </div>
        </li>
      </ul> -->
      <!-- ################################################################################################ -->
    <!-- </div> -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('http://www.bing.com/images/search?view=detailV2&ccid=eoyLLBK7&id=464A7864D52456C5C9E4C07B0D028B98840DD648&thid=OIP.eoyLLBK7l55clyP36KV_NwHaEK&mediaurl=https%3a%2f%2fi.pinimg.com%2foriginals%2fec%2ffd%2f57%2fecfd579b011da3d8f69a4c74d206ab13.png&exph=563&expw=1000&q=bda+lab+images&simid=608040122597717057&FORM=IRPRST&ck=5114C7E9B8901997B5EB3D7FC53BCDF5&selectedIndex=4');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <!-- ################################################################################################ -->
        <h1><a href="/">BDA LAB</a></h1>
        <!-- ################################################################################################ -->
      </div>
      <nav id="mainav" class="fl_right"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li><a href="/">Home</a></li>
          <li class="active"><a class="drop" href="#">Pages</a>
            <ul>
              <li class="active"><a href="/gallery">Gallery</a></li>
              <li><a href="full-width.html">Feedback</a></li>
              <!-- <li><a href="sidebar-left.html">Submissions</a></li> -->
              <!-- <li><a href="sidebar-right.html">call for participation</a></li> -->
              <!-- <li><a href="basic-grid.html">Basic Grid</a></li> -->
              <!-- <li><a href="font-icons.html">call for papers</a></li> -->
            </ul>
          </li>
          <!-- <li><a class="drop" href="#">Course</a> -->
            <!-- <ul>
              <li><a href="#">Course</a></li>
              <li><a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                </ul>
              </li>
              <li><a href="#">Project</a></li>
            </ul> -->
          </li>
          <!-- <li><a href="#">Projects</a></li> -->
          <li><a href="/allPublications">Publications</a></li>
          <li><a href="contactUs.html">Contact Us</a></li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="overlay">
    <div id="breadcrumb" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <h6 class="heading">Course Gallery</h6>
      <ul>
        <li><a href="/">Home</a></li>
        <!-- <li><a href="#">Lorem</a></li>
        <li><a href="#">Ipsum</a></li>
        <li><a href="#">Dolor</a></li> -->
      </ul>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <div id="gallery" >
        <figure>
          <header class="heading">COURSES OFFERED IN IIITA</header>
          <ul class="nospace clear">
            <li class="one_quarter first"><a href="https://www.bing.com/ck/a?!&&p=2644494250f16ed8JmltdHM9MTY4MTUxNjgwMCZpZ3VpZD0wNWNlNDNiMy04ZjNhLTZiN2YtMmRlMC01MjliOGUzYTZhNzImaW5zaWQ9NTE5Mg&ptn=3&hsh=3&fclid=05ce43b3-8f3a-6b7f-2de0-529b8e3a6a72&psq=Circuit+Analysis+and+Synthesis++wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvRWxlY3Ryb25pY19jaXJjdWl0X2Rlc2lnbg&ntb=1"><img src="CircuitAnalysis&Synthesis.jpg" alt="" style="width: 250px; height: 250px;"></a></li>
            <li class="one_quarter"><a href="https://www.bing.com/ck/a?!&&p=752d3af254beb25dJmltdHM9MTY4MTUxNjgwMCZpZ3VpZD0wNWNlNDNiMy04ZjNhLTZiN2YtMmRlMC01MjliOGUzYTZhNzImaW5zaWQ9NTIwMQ&ptn=3&hsh=3&fclid=05ce43b3-8f3a-6b7f-2de0-529b8e3a6a72&psq=digital+communication+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvRGF0YV9jb21tdW5pY2F0aW9u&ntb=1"><img src="digitalCommunication.jpg" alt="" style="width: 250px; height: 250px;"></a></li>
            <li class="one_quarter"><a href="https://www.bing.com/ck/a?!&&p=943e3a1971c6e1d1JmltdHM9MTY4MTUxNjgwMCZpZ3VpZD0wNWNlNDNiMy04ZjNhLTZiN2YtMmRlMC01MjliOGUzYTZhNzImaW5zaWQ9NTIwMw&ptn=3&hsh=3&fclid=05ce43b3-8f3a-6b7f-2de0-529b8e3a6a72&psq=discrete+mathematics+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvRGlzY3JldGVfbWF0aGVtYXRpY3M&ntb=1"><img src="DM.jpg" alt="" style="width: 250px; height: 250px;"></a></li>
            <li class="one_quarter"><a href="https://www.bing.com/ck/a?!&&p=380914e413c1be3aJmltdHM9MTY4MTUxNjgwMCZpZ3VpZD0wNWNlNDNiMy04ZjNhLTZiN2YtMmRlMC01MjliOGUzYTZhNzImaW5zaWQ9NTIwMA&ptn=3&hsh=3&fclid=05ce43b3-8f3a-6b7f-2de0-529b8e3a6a72&psq=dsa+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvRFNB&ntb=1"><img src="DS.jpg" alt="" style="width: 250px; height: 250px;"></a></li>
            <li class="one_quarter first"><a href="https://www.bing.com/ck/a?!&&p=0d2242e5195daa84JmltdHM9MTY4MTUxNjgwMCZpZ3VpZD0wNWNlNDNiMy04ZjNhLTZiN2YtMmRlMC01MjliOGUzYTZhNzImaW5zaWQ9NTIwNg&ptn=3&hsh=3&fclid=05ce43b3-8f3a-6b7f-2de0-529b8e3a6a72&psq=Electronic+Devices+%26+Circuits+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvRWxlY3Ryb25pY19jaXJjdWl0&ntb=1"><img src="ElectronicDevices&Circuit.jpg" alt="" style="width: 250px; height: 250px;"></a></li>
            <li class="one_quarter"><a href="https://www.bing.com/ck/a?!&&p=ff2425d45da95bb1JmltdHM9MTY4MTUxNjgwMCZpZ3VpZD0wNWNlNDNiMy04ZjNhLTZiN2YtMmRlMC01MjliOGUzYTZhNzImaW5zaWQ9NTIwMg&ptn=3&hsh=3&fclid=05ce43b3-8f3a-6b7f-2de0-529b8e3a6a72&psq=graphics+nd+visual+computing+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvVmlzdWFsX0NvbXB1dGluZw&ntb=1"><img src="VisualComputing.jpg" alt="" style="width: 250px; height: 250px;"></a></li>
            <li class="one_quarter"><a href="https://www.bing.com/ck/a?!&&p=c877f18c7aea0bbbJmltdHM9MTY4MTUxNjgwMCZpZ3VpZD0wNWNlNDNiMy04ZjNhLTZiN2YtMmRlMC01MjliOGUzYTZhNzImaW5zaWQ9NTIwNA&ptn=3&hsh=3&fclid=05ce43b3-8f3a-6b7f-2de0-529b8e3a6a72&psq=introduction+to+computing+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvQ29tcHV0aW5n&ntb=1"><img src="IntroductionToComputer.jpg" alt="" style="width: 250px; height: 250px;"></a></li>
            <li class="one_quarter"><a href="https://www.bing.com/ck/a?!&&p=34e42e5cd6d9d359JmltdHM9MTY4MTUxNjgwMCZpZ3VpZD0wNWNlNDNiMy04ZjNhLTZiN2YtMmRlMC01MjliOGUzYTZhNzImaW5zaWQ9NTIwNQ&ptn=3&hsh=3&fclid=05ce43b3-8f3a-6b7f-2de0-529b8e3a6a72&psq=object+oriented+methodologies+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvT2JqZWN0LW9yaWVudGVkX3Byb2dyYW1taW5n&ntb=1"><img src="OOM.jpg" alt="" style="width: 250px; height: 250px;"></a></li>
            <li class="one_quarter first"><a href="https://www.bing.com/ck/a?!&&p=6629e081ba37a2ecJmltdHM9MTY4MTUxNjgwMCZpZ3VpZD0wNWNlNDNiMy04ZjNhLTZiN2YtMmRlMC01MjliOGUzYTZhNzImaW5zaWQ9NTIwOA&ptn=3&hsh=3&fclid=05ce43b3-8f3a-6b7f-2de0-529b8e3a6a72&psq=introduction+to+programming+language+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvUHJvZ3JhbW1pbmdfbGFuZ3VhZ2U&ntb=1"><img src="ITP.jpg" alt="" style="width: 250px; height: 250px;"></a></li>
            <li class="one_quarter"><a href="https://www.bing.com/ck/a?!&&p=7d57a37e4db312a2JmltdHM9MTY4MTUxNjgwMCZpZ3VpZD0wNWNlNDNiMy04ZjNhLTZiN2YtMmRlMC01MjliOGUzYTZhNzImaW5zaWQ9NTIwNg&ptn=3&hsh=3&fclid=05ce43b3-8f3a-6b7f-2de0-529b8e3a6a72&psq=operating+system+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvT3BlcmF0aW5nX3N5c3RlbQ&ntb=1"><img src="OS.jpg" alt="" style="width: 250px; height: 250px;"></a></li>
            <li class="one_quarter"><a href="https://www.bing.com/ck/a?!&&p=fabbbee05bf01fdeJmltdHM9MTY4MTUxNjgwMCZpZ3VpZD0wNWNlNDNiMy04ZjNhLTZiN2YtMmRlMC01MjliOGUzYTZhNzImaW5zaWQ9NTIwNw&ptn=3&hsh=3&fclid=05ce43b3-8f3a-6b7f-2de0-529b8e3a6a72&psq=software+engineering+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvU29mdHdhcmVfZW5naW5lZXJpbmc&ntb=1"><img src="SE_img.jpg" alt="" style="width: 250px; height: 250px;"></a></li>
            <li class="one_quarter"><a href="https://www.bing.com/ck/a?!&&p=fa57145519ee4a7bJmltdHM9MTY4MTUxNjgwMCZpZ3VpZD0wNWNlNDNiMy04ZjNhLTZiN2YtMmRlMC01MjliOGUzYTZhNzImaW5zaWQ9NTIwMg&ptn=3&hsh=3&fclid=05ce43b3-8f3a-6b7f-2de0-529b8e3a6a72&psq=theory+of+computation+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvVGhlb3J5X29mX2NvbXB1dGF0aW9u&ntb=1"><img src="TOC.jpg" alt="" style="width: 250px; height: 250px;"></a></li>
          </ul>
          <figcaption>BTECH SUBJECTS </figcaption>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <nav class="pagination">
        <ul>
          <!-- <li><a href="#">&laquo; Previous</a></li> -->
          <li><a href="#">Different Subjects</a></li>
           <!-- <li><a href="#">2</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">6</a></li> 
          <li class="current"><strong>7</strong></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li><a href="#">Next &raquo;</a></li> -->
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper coloured">
  <section id="ctdetails" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="nospace clear">
      <li class="one_quarter first">
        <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +00 (123) 456 7890</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> seburds@gmail.com</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="https://www.timeanddate.com/time/zones/ist"><i class="fas fa-clock"></i></a> <span><strong> Monday - Saturday:</strong> 08.00am - 18.00pm</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="https://www.google.com/maps/place/Indian+Institute+of+Information+Technology,+Jhalwa,+Prayagraj,+Uttar+Pradesh/@25.4293807,81.7664122,16z/data=!3m1!4b1!4m6!3m5!1s0x398533530cce2e67:0xbf1514c2084929b7!8m2!3d25.4299114!4d81.7711827!16s%2Fg%2F11b62scw_q"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit us:</strong> Directions to our location</span></div>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay row4" style="background-image:url('');">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <!-- <div class="one_quarter first">
      <h6 class="heading">Pellentesque dictum</h6>
      <ul class="nospace linklist">
        <li><a href="#">Ultricies in molestie sed</a></li>
        <li><a href="#">Consectetuer nam sodales</a></li>
        <li><a href="#">Euismod tellus sed non</a></li>
        <li><a href="#">Est etiam in eros curabitur</a></li>
        <li><a href="#">Viverra dui nec arcu sed</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Fermentum pellentesque</h6>
      <p class="nospace btmspace-15">Pede ullamcorper facilisis bibendum nulla elit gravida elit vel suscipit urna.</p>
      <form action="#" method="post">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Nisi nunc velit aliquam</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="#">Sapien sit amet tortor nulla vulputate odio in varius tristique nisi urna.</a></p>
            <time class="block font-xs" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
          </article>
        </li>
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="#">Consequat erat id rutrum nisi magna vel tellus phasellus malesuada bibendum.</a></p>
            <time class="block font-xs" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
          </article>
        </li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Lacinia iaculis nunc</h6>
      <ul class="nospace clear latestimg">
        <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="../images/demo/100x100.png" alt=""></a></li>
      </ul>
    </div> -->
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- <div class="wrapper row5">
  <div id="copyright" class="hoc clear">  -->
    <!-- ################################################################################################ -->
    <!-- <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p> -->
    <!-- ################################################################################################ -->
  <!-- </div>
</div> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>