<!-- msg.ejs -->
<h1>Compose Message</h1>

<form action="/admin/users/<%= recipient._id %>/send-message" method="POST">
  <div class="form-group">
    <label for="message">Message:</label>
    <textarea class="form-control" name="message" id="message" rows="5" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
